repos:
  - repo: https://github.com/psf/black
    rev: 21.4b0
    hooks:
      - id: black
        exclude: ^pdm/_vendor

  - repo: https://github.com/PyCQA/flake8
    rev: 3.9.1
    hooks:
      - id: flake8

  - repo: https://github.com/pycqa/isort
    rev: 5.8.0
    hooks:
      - id: isort

  - repo: https://github.com/asottile/pyupgrade
    rev: v2.14.0
    hooks:
      - id: pyupgrade
        exclude: ^pdm\/_vendor|^pdm\/installers\/_editable_install\.py
        args: [--py36-plus]
