site_name: PDM

repo_url: https://github.com/pdm-project/pdm
edit_uri: edit/main/docs/docs

theme:
  name: material
  palette:
    - scheme: default
      primary: deep purple
      accent: teal
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - scheme: slate
      primary: deep purple
      accent: teal
      toggle:
        icon: material/weather-night
        name: Switch to light mode
  font:
    text: Open Sans
    code: Fira Code
  logo: assets/logo.svg
  favicon: assets/logo.svg
  features:
    - content.code.copy
    - navigation.tabs
    - navigation.tabs.sticky
  custom_dir: overrides

plugins:
  - search
  - mike
  - markdown-exec
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google

nav:
  - Usage:
      - Introduction: index.md
      - usage/project.md
      - usage/dependency.md
      - usage/publish.md
      - usage/config.md
      - usage/scripts.md
      - usage/hooks.md
      - usage/advanced.md
      - usage/venv.md
      - usage/pep582.md
  - References:
      - references/pep621.md
      - references/tool-pdm.md
      - references/configuration.md
      - references/build.md
      - references/cli.md
      - references/api.md
  - Development:
      - dev/write.md
      - dev/fixtures.md
      - dev/contributing.md
      - dev/changelog.md
      - dev/benchmark.md
  - Sponsor: https://github.com/sponsors/pdm-project

markdown_extensions:
  - pymdownx.highlight:
      linenums: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.details
  - admonition
  - tables
  - toc:
      permalink: "#"
  - markdown_include.include:
      base_path: docs
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

copyright: Copyright &copy; 2019 <a href="https://frostming.com">Frost Ming</a>

extra:
  version:
    provider: mike
  analytics:
    provider: custom
    umami_site_id: d41bc972-79a4-4ce3-8c24-33026a8cdd9b
    umami_script: https://umami.fming.dev/umami.js
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/pdm-project/pdm
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/pdm_project
    - icon: fontawesome/brands/discord
      link: https://discord.gg/Phn8smztpv
extra_css:
  - assets/extra.css
extra_javascript:
  - assets/extra.js

watch:
  - ../src
