name: Tests

on:
  pull_request:
    paths-ignore:
      - "docs/**"
      - "news/**"
      - "*.md"
      - Dockerfile
  push:
    branches:
      - master
    paths-ignore:
      - "docs/**"
      - "news/**"
      - "*.md"
      - Dockerfile

jobs:
  Testing:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9]
        os: [ubuntu-latest, macOS-latest, windows-latest]
        arch: [x64]
        include:
          - python-version: 3.8
            os: windows-latest
            arch: x86

    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set Variables
        id: set_variables
        run: |
          echo "::set-output name=PY::$(python -c 'import hashlib, sys;print(hashlib.sha256(sys.version.encode()+sys.executable.encode()).hexdigest())')"
          echo "::set-output name=PIP_CACHE::$(pip cache dir)"
      - name: Cache PIP
        uses: actions/cache@v2
        with:
          path: ${{ steps.set_variables.outputs.PIP_CACHE }}
          key: ${{ runner.os }}-pip-${{ steps.set_variables.outputs.PY }}
      - name: Cache PEP 582 packages
        uses: actions/cache@v2
        with:
          path: __pypackages__
          # Look to see if there is a cache hit for the corresponding requirements file
          key: ${{ runner.os }}-packages-${{ steps.set_variables.outputs.PY }}-${{ hashFiles('pdm.lock') }}
          restore-keys: |
            ${{ runner.os }}-packages-${{ steps.set_variables.outputs.PY }}-
            ${{ runner.os }}-packages-
      - name: Install Current PDM
        run: |
          pip install -U pip
          pip install .
      - name: Install Dev Dependencies
        run: |
          pdm install -dvv
      - name: Run Tests
        run: pdm run pytest -n auto tests
